# Reconstruct genome-scale models for each bacterial partner

We will employ [CarveME]() to reconstruct genome-scale models for each selected bacterial partner in our model of the phycosphere of _Pseudo nitzschia sp._. To this end, we will use the [universal prokaryotic metabolic model]() that we built previously and the following MAGs reconstructed from the [TARA database]():

* TARA_ARC_108_MAG_00080, _Alteromonas sp._
* TARA_ARC_108_MAG_00174, _Marinobacter sp._
* TARA_ARC_108_MAG_00201, _Polaribacter sp._
* TARA_ARC_108_MAG_00083, _Sulfitobacter sp._

In [7]:
%%bash

GENOME_DIR="../data/genomes/pseudo-nitzschia/"

for genome_file in "${GENOME_DIR}"*.fasta; do
    base_name=$(basename "$genome_file" .fasta)
    echo "Running $base_name"
    carve \
        --universe-file "../data/carveme_universes/universe_bacteria.xml" \
        --solver gurobi \
        -o "../results/models_bacteria/${base_name}.xml" \
        --init MARINE \
        --gapfill MARINE \
        --mediadb "../data/marine_media/media_db.tsv" \
        --fbc2 \
        "$genome_file" >/dev/null 2>&1
done

Running TARA_ARC_108_MAG_00080.genepred
Running TARA_ARC_108_MAG_00083.genepred
Running TARA_ARC_108_MAG_00117.genepred
Running TARA_ARC_108_MAG_00139.genepred
Running TARA_ARC_108_MAG_00174.genepred
Running TARA_ARC_108_MAG_00179.genepred
Running TARA_ARC_108_MAG_00201.genepred

## Test models

In [8]:
import cobra

models = {}
models["Sulfitobacter"] = cobra.io.read_sbml_model(
    "../results/models_bacteria/TARA_ARC_108_MAG_00083.genepred.xml"
    )
models["Polaribacter"] = cobra.io.read_sbml_model(
    "../results/models_bacteria/TARA_ARC_108_MAG_00201.genepred.xml"
    )
models["Alteromonas"] = cobra.io.read_sbml_model(
    "../results/models_bacteria/TARA_ARC_108_MAG_00080.genepred.xml"
    )
models["Marinobacter"] = cobra.io.read_sbml_model(
    "../results/models_bacteria/TARA_ARC_108_MAG_00174.genepred.xml"
    )

In [9]:
models["Sulfitobacter"].summary()

In [10]:
models["Polaribacter"].summary()

## Reconstruct models using a Nextflow pipeline

In [ ]:
# %%bash

# nextflow run pipeline.nf \
#     --genomes_dir /home/robaina/Documents/NewAtlantis/phycosphere/genomes/pseudo-nitzschia/ \
#     --media_file /home/robaina/Documents/NewAtlantis/phycosphere/marine_media/SnakeCarveMe-master/media_db.tsv \
#     --outdir /home/robaina/Documents/NewAtlantis/phycosphere/nextflow_output